openapi: 3.0.3
info:
  title: LiveData Migrator
  description: LiveData Migrator API Documentation
  version: 3.3.6
servers:
- url: http://liamg01-vm5.bdfrem.wandisco.com:18080/
tags:
- name: ADLS2 Source File System Controller
  description: Operations to Manage ADLS2 Source FileSystems
- name: Consumption Controller
  description: Operations to Manage Consumption
- name: ADLS2 Target File System Controller
  description: Operations to Manage ADLS2 Target FileSystems
- name: Statistics Controller
  description: Operations to show migration Stats
- name: Email Notification Controller
  description: LiveData Migrator Email Notifications
- name: Exclusions Controller
  description: Operations to Manage Exclusions while Running Migrations
- name: Threads Controller
  description: Status of Threads
- name: Path Mapping Controller
  description: Operations to Manage Path Mappings
- name: HDFS Source File System Controller
  description: Operations to Manage Source HDFS FileSystems
- name: Preview Feature Controller
  description: Operations to Manage Preview Features
- name: Files system health controller
  description: Operations to retrieve health status of file systems
- name: License Controller
  description: Operations to Manage Licenses
- name: Bandwidth Policy Controller
  description: Operations to Manage Bandwidth Policies
- name: HDFS Source File System Autodiscovery Controller
  description: Operations to autodiscover source HDFS FileSystems
- name: Source File System Controller
  description: Operations to Manage Source FileSystems
- name: Migration Gate Controller
  description: Operations to Manage Migration Gates
- name: Local Target File System Controller
  description: Operations to Manage Local Target FileSystems
- name: HDFS Target File System Controller
  description: Operations to Manage Target HDFS FileSystems
- name: S3a Target File System Controller
  description: Operations to Manage S3a Target FileSystems
- name: Backup and Restore Controller
  description: Provides a way to perform basic actions under a file system
- name: File System Controller
  description: Provides a way to perform basic actions under a file system
- name: S3a Source File System Controller
  description: Operations to Manage S3a Source FileSystems
- name: GCS Target File System Controller
  description: Operations to Manage GCS Target FileSystems
- name: Migration Controller
  description: Operations to Manage Migrations
- name: Local Source File System Controller
  description: Operations to Manage Source Local FileSystems
- name: Diagnostics Controller
  description: Operations to retrieve Diagnostics
- name: Metering Controller
  description: Operations to Manage Metered Licenses
- name: Notification Controller
  description: LiveData Migrator Notifications
- name: Target File System Controller
  description: Operations to Manage Target FileSystems
- name: Info Controller
  description: Information on running LiveData Migrator instance
- name: Migration Path Status Controller
  description: Operations to See the Status of Paths
- name: Configuration Controller
  description: Update system wide configurable properties
- name: Requeuing Actions Controller
  description: Operations to See the Status Requeuing Actions
- name: Backups Controller
  description: Operations to manage backups
- name: Verification Controller
  description: Operations to manage verifications
- name: Data Agents Controller
  description: Operations for scaling with Data Agents
- name: Data Agent Statistics Controller
  description: Operations to show Data Agent Stats
- name: Data Agent Diagnostics Controller
  description: Operations to retrieve only Agent Diagnostics
- name: Source Cleanup Controller
  description: Operations to manage Source Cleanup
- name: GCS Source File System Controller
  description: Operations to Manage GCS Source FileSystems
paths:
  /info:
    get:
      tags:
      - Info Controller
      summary: Get information on LiveData Migrator instance
      operationId: getVersion
      responses:
        "200":
          description: LiveData Migrator information
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: Info Controller
  /info/nodeID:
    get:
      tags:
      - Info Controller
      summary: Get LiveData Migrator Node ID
      operationId: getNodeId
      responses:
        "200":
          description: LiveData Migrator ID Returned
          content:
            text/plain:
              schema:
                type: string
                x-content-type: text/plain
      x-accepts: text/plain
  /notifications:
    get:
      tags:
      - Notification Controller
      summary: Notifications
      operationId: fetchNotifications
      parameters:
      - name: count
        in: query
        description: Limit number of Notifications returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: since
        in: query
        description: |-
          If a notification's last modification time is earlier than this, it will be excluded.
          + "Expects the ISO format e.g. \"2020-02-03T10:15:05-05:00\".
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: type
        in: query
        description: If this parameter is supplied only notifications of the given
          type will be returned.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: excludeResolved
        in: query
        description: Exclude notifications which have been marked resolved (default
          false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: level
        in: query
        description: If this parameter is supplied only notifications of the given
          level will be returned.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/NotificationLevel'
      responses:
        "200":
          description: Notifications retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
                x-content-type: application/json
        "304":
          description: Notifications not changed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
                x-content-type: application/json
      x-accepts: application/json
  /notifications/atom:
    get:
      tags:
      - Notification Controller
      summary: Get Atom feed for Notifications
      operationId: atom
      responses:
        "200":
          description: Notification Atom feed retrieved successfully
          content:
            application/atom+xml:
              schema:
                type: object
                x-content-type: application/atom+xml
        "304":
          description: Notifications not changed.
          content: {}
      x-accepts: application/atom+xml
  /notifications/{notificationId}:
    get:
      tags:
      - Notification Controller
      summary: Get a Notification
      operationId: fetchNotification
      parameters:
      - name: notificationId
        in: path
        description: Identifier for Notification
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Notification retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        "404":
          description: No Notification found for the given notificationId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationNotFound'
  /notifications/config/email:
    get:
      tags:
      - Email Notification Controller
      summary: Get the current SMTP adaptor config
      operationId: fetchSmtpConfig
      responses:
        "200":
          description: SMTP adaptor config retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpConfiguration'
    put:
      tags:
      - Email Notification Controller
      summary: Update the SMTP adaptor config
      operationId: setSmtpConfig
      parameters:
      - name: host
        in: query
        description: Host of the SMTP server
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: port
        in: query
        description: Port of the SMTP server
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: securityType
        in: query
        description: Security type of the SMTP server
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SmtpSecurityType'
      - name: email
        in: query
        description: Email that will be used by notification sender
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: authEnabled
        in: query
        description: Authentication is enabled
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: login
        in: query
        description: Login
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: password
        in: query
        description: Password
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: subjectPrefix
        in: query
        description: E-Mail subject prefix
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: SMTP adaptor config updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpConfiguration'
        "400":
          description: Host is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpConfiguration'
      x-accepts: application/json
  /notifications/config/email/registration:
    get:
      tags:
      - Email Notification Controller
      summary: Get registered email address for receiving push notifications about
        specific notification types
      operationId: fetchEmailRegistrations
      responses:
        "200":
          description: Email registrations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRegistrations'
      x-accepts: application/json
    put:
      tags:
      - Email Notification Controller
      summary: Update set of emails registered for receiving push notifications about
        specific notification types
      operationId: setEmailRegistrations
      parameters:
      - name: types
        in: query
        description: Types of notifications
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
          default: []
      - name: addresses
        in: query
        description: Emails of receivers
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
          default: []
      responses:
        "200":
          description: Email registrations updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRegistrations'
        "400":
          description: Notification type is not email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRegistrations'
      x-accepts: application/json
  /notifications/config/email/test:
    post:
      tags:
      - Email Notification Controller
      summary: Send test e-mail to the specified list of recipient
      operationId: sendTestEmail
      parameters:
      - name: addresses
        in: query
        description: Emails of receivers
        required: true
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: Test e-mail was successfully sent
        "400":
          description: Failed to send test e-mail
      x-accepts: application/json
  /notifications/config/email/types:
    get:
      tags:
      - Email Notification Controller
      summary: Get email notifications types
      operationId: fetchEmailNotificationTypes
      responses:
        "200":
          description: Email notifications types retrieved successfully
          content:
            application/json:
              schema:
                uniqueItems: true
                type: array
                items:
                  type: string
                x-content-type: application/json
      x-accepts: application/json
  /gates/gate:
    get:
      tags:
      - Migration Gate Controller
      summary: Check status of a gate by its ID
      operationId: getMigrationGates
      parameters:
      - name: gateIds
        in: query
        description: Gate ID
        required: true
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: Gate returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationGate'
                x-content-type: application/json
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      deprecated: true
      x-accepts: application/json
    put:
      tags:
      - Migration Gate Controller
      summary: Request a gate on a given migration by path
      operationId: createMigrationGate
      parameters:
      - name: path
        in: query
        description: Path of the Migration gate
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: sourceFilesystemId
        in: query
        description: ID of the source Filesystem
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: targetFilesystemId
        in: query
        description: ID of the target Filesystem
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: gateId
        in: query
        description: Gate ID
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Gate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationGate'
        "400":
          description: Failed to create gate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
    delete:
      tags:
      - Migration Gate Controller
      summary: Delete a Gate by its ID
      operationId: deleteMigrationGates
      parameters:
      - name: gateIds
        in: query
        description: Gate IDs
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Gate deleted
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Gate cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      deprecated: true
      x-accepts: application/json
  /gates/gate/bulk:
    post:
      tags:
      - Migration Gate Controller
      summary: Check status of a number of gates by their ID's
      operationId: getBulkMigrationGates
      requestBody:
        description: Gate IDs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationGateIds'
        required: true
      responses:
        "200":
          description: Gates returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationGate'
                x-content-type: application/json
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /gates/gate/bulk/delete:
    post:
      tags:
      - Migration Gate Controller
      summary: Bulk delete migration gates by their ID's
      operationId: deleteBulkMigrationGates
      requestBody:
        description: Gate IDs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationGateIds'
        required: true
      responses:
        "200":
          description: Gate(s) deleted
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Gate cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /gates/gate/deleteAll:
    delete:
      tags:
      - Migration Gate Controller
      summary: Delete all Migration Gates
      operationId: deleteAllMigrationGates
      responses:
        "200":
          description: Gate deleted
      x-accepts: application/json
  /gates/gate/check:
    get:
      tags:
      - Migration Gate Controller
      summary: Check for closed Gates in bulk
      operationId: checkClosedGates
      parameters:
      - name: gateIds
        in: query
        description: Gate ID
        required: true
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: Gate returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      deprecated: true
      x-accepts: application/json
  /gates/gate/bulk/check:
    post:
      tags:
      - Migration Gate Controller
      summary: Bulk check for closed Gates by their ID's
      operationId: bulkCheckClosedGates
      requestBody:
        description: Gate IDs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationGateIds'
        required: true
      responses:
        "200":
          description: Gates returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /gates/gate/close:
    put:
      tags:
      - Migration Gate Controller
      summary: Close a Gate by its ID
      operationId: closeMigrationGate
      parameters:
      - name: gateId
        in: query
        description: Gate ID
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Gate closed
        "404":
          description: Gate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /threads:
    get:
      tags:
      - Threads Controller
      summary: Get Thread Dump
      operationId: fetchThreadDump
      responses:
        "200":
          description: Thread Dump
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
  /threads/states:
    get:
      tags:
      - Threads Controller
      summary: Get Thread State Summary
      operationId: fetchThreadStates
      responses:
        "200":
          description: Thread States
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadStates'
  /migration-path-status:
    get:
      tags:
      - Migration Path Status Controller
      summary: Displays information on a path in a current migration.
      operationId: getPathStatus
      parameters:
      - name: path
        in: query
        description: Path on source filesystem.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: sourceId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Path found in migration on given source.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationPathStatus'
        "404":
          description: No migration was found matching this source id and path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationPathStatus'
      x-accepts: application/json
  /preview:
    get:
      tags:
      - Preview Feature Controller
      summary: Get all preview features
      operationId: getPreviewFeatureStatus
      responses:
        "200":
          description: Preview feature status retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewInfo'
      x-accepts: application/json
  /consumption/switchToConsumption:
    put:
      tags:
      - Consumption Controller
      summary: 'Change license type to consumption '
      operationId: switchToConsumption
      responses:
        "200":
          description: Switch to consumption license
      x-accepts: application/json
  /consumption/extendTime:
    put:
      tags:
      - Consumption Controller
      summary: 'Extend consumption license expiry time '
      operationId: extendLicense
      parameters:
      - name: token
        in: query
        description: Token used to extend license
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Extend license expiry time
          content:
            application/json:
              schema:
                type: boolean
                x-content-type: application/json
        "403":
          description: Incorrect token provided
          content:
            application/json:
              schema:
                type: boolean
                x-content-type: application/json
      x-accepts: application/json
  /bandwidthPolicies/application:
    get:
      tags:
      - Bandwidth Policy Controller
      summary: Get the application's bandwidth policy
      operationId: getApplicationBandwidthPolicy
      responses:
        "200":
          description: Policy retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthPolicy'
      x-accepts: application/json
    post:
      tags:
      - Bandwidth Policy Controller
      summary: Set the application's bandwidth policy. A limit of -1 will mean no
        bandwidth limit is imposed.
      operationId: updateApplicationBandwidthPolicy
      parameters:
      - name: limit
        in: query
        description: Overall application bandwidth limit to apply.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: unit
        in: query
        description: Unit of bandwidth - bytes per second
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FileSizeUnit'
      responses:
        "200":
          description: Bandwidth policy set successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthPolicy'
        "400":
          description: Missing or bad parameter 'limit' or 'unit'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "412":
          description: Unrecognised value for 'unit' supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
    delete:
      tags:
      - Bandwidth Policy Controller
      summary: "Restore default, unlimited application bandwidth policy"
      operationId: resetApplicationBandwidthPolicy
      responses:
        "200":
          description: Default application bandwidth policy restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthPolicy'
      x-accepts: application/json
  /fs/targets/s3a/{fileSystemId}:
    post:
      tags:
      - S3a Target File System Controller
      summary: Add a new target S3a file system
      operationId: addTargetS3aFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: S3A file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3aFilesystemProperties'
        required: true
      responses:
        "201":
          description: filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - S3a Target File System Controller
      summary: Update a target S3a file system
      operationId: updateTargetS3aFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: S3A file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3aFilesystemProperties'
        required: true
      responses:
        "200":
          description: filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible type
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
  /fs/sources/s3a/{fileSystemId}:
    post:
      tags:
      - S3a Source File System Controller
      summary: Add a new source S3a file system
      operationId: addSourceS3aFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      - name: scanOnly
        in: query
        description: Scan-only will not pick up any changes to the underlying filesystem
          during migrations
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: S3A file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3aFilesystemProperties'
        required: true
      responses:
        "201":
          description: filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - S3a Source File System Controller
      summary: Update a source S3a file system
      operationId: updateSourceS3aFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: S3A file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3aFilesystemProperties'
        required: true
      responses:
        "200":
          description: filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible type
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
  /exclusions/regex/{id}:
    put:
      tags:
      - Exclusions Controller
      summary: Add a new regex exclusion
      operationId: addRegexExclusion
      parameters:
      - name: id
        in: path
        description: ID of the exclusion to create
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: description
        in: query
        description: Description of the exclusion to create
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: patternType
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - JAVA_PCRE
          - AUTOMATA
          - GLOB
          default: JAVA_PCRE
      - name: regex
        in: query
        description: "Regex string, if a file's name matches, it will be excluded\
          \ from migration"
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Regex Exclusion added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exclusion'
        "400":
          description: "Missing or bad  parameter 'id', 'description' or 'regex'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "412":
          description: Unrecognised value for 'patternType' supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Duplicate id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /exclusions/fileSize/{id}:
    put:
      tags:
      - Exclusions Controller
      summary: Add a new file size exclusion
      operationId: addFileSizeExclusion
      parameters:
      - name: id
        in: path
        description: ID of the exclusion to create
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: description
        in: query
        description: Description of the exclusion to create
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: value
        in: query
        description: "File size, if greater, file will be excluded from migration"
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: unit
        in: query
        description: Unit of file size
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FileSizeUnit'
      responses:
        "201":
          description: File Size Exclusion added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exclusion'
        "400":
          description: Missing or bad parameter 'id' or 'description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Duplicate id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /exclusions/date/{id}:
    put:
      tags:
      - Exclusions Controller
      summary: Add a new date-based exclusion
      operationId: addDateExclusion
      parameters:
      - name: id
        in: path
        description: ID of the exclusion to create
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: description
        in: query
        description: Description of the exclusion to create
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: beforeIsoDateTime
        in: query
        description: "If a file's modification time is earlier than this, it will\
          \ be excluded from migration. Expects the ISO format e.g. \"2020-02-03T10:15:05-05:00\"\
          ."
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "201":
          description: Date Exclusion added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exclusion'
        "400":
          description: Missing or bad parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Duplicate id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /exclusions/{exclusionId}:
    get:
      tags:
      - Exclusions Controller
      summary: Get exclusion for given exclusion ID
      operationId: getExclusion
      parameters:
      - name: exclusionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Exclusion retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exclusion'
        "404":
          description: No exclusion found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
    delete:
      tags:
      - Exclusions Controller
      summary: Delete exclusion for given ID
      operationId: removeExclusion
      parameters:
      - name: exclusionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Exclusion deleted successfully
        "403":
          description: Default exclusions can not be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedToDeleteExclusionException'
        "404":
          description: No exclusion found for given ID
      x-accepts: application/json
  /exclusions/userDefined:
    get:
      tags:
      - Exclusions Controller
      summary: Get all user defined exclusions
      operationId: listUserDefinedExclusions
      responses:
        "200":
          description: Exclusions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exclusion'
                x-content-type: application/json
      x-accepts: application/json
  /exclusions/target/{fsType}:
    get:
      tags:
      - Exclusions Controller
      summary: See the restrictions applied automatically for the given target filesystem
      operationId: getFsRestrictions
      parameters:
      - name: fsType
        in: path
        description: Filesystem type
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Restrictions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exclusion'
                x-content-type: application/json
        "400":
          description: Invalid filesystem type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /exclusions/source/{fsType}:
    get:
      tags:
      - Exclusions Controller
      summary: See the restrictions applied automatically for the given source filesystem
      operationId: getSourceFsRestrictions
      parameters:
      - name: fsType
        in: path
        description: Filesystem type
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Restrictions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exclusion'
                x-content-type: application/json
        "400":
          description: Invalid filesystem type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /exclusions/global:
    get:
      tags:
      - Exclusions Controller
      summary: Get all global exclusions
      operationId: listGlobalExclusions
      responses:
        "200":
          description: Exclusions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exclusion'
                x-content-type: application/json
      x-accepts: application/json
  /exclusions:
    get:
      tags:
      - Exclusions Controller
      summary: Get all exclusions
      operationId: listExclusions
      responses:
        "200":
          description: Exclusions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exclusion'
                x-content-type: application/json
      x-accepts: application/json
  /fs/sources/local/{fileSystemId}:
    post:
      tags:
      - Local Source File System Controller
      summary: Add a new Local source file system
      operationId: addSourceLocalFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: scanOnly
        in: query
        description: "Scan-only is the only configuration supported for this type\
          \ of source. If a value of 'false' is supplied for this parameter, it will\
          \ be ignored."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Local file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalFilesystemProperties'
        required: true
      responses:
        "201":
          description: filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - Local Source File System Controller
      summary: Update a Local source file system
      operationId: updateSourceLocalFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Local file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalFilesystemProperties'
        required: true
      responses:
        "200":
          description: filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible configuration
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
  /fs/targets/local/{fileSystemId}:
    post:
      tags:
      - Local Target File System Controller
      summary: Add a new target Local file system
      operationId: addTargetLocalFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Local file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalFilesystemProperties'
        required: true
      responses:
        "201":
          description: filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - Local Target File System Controller
      summary: Update a target Local file system
      operationId: updateTargetLocalFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Local file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalFilesystemProperties'
        required: true
      responses:
        "200":
          description: filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible configuration
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
  /stats:
    get:
      tags:
      - Statistics Controller
      summary: Get rolling stats over time for all migrations
      operationId: fetchTotalRollingStats
      responses:
        "200":
          description: Migration stats retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllMigrationsRollingStats'
                x-content-type: application/json
      x-accepts: application/json
  /stats/{migrationId}:
    get:
      tags:
      - Statistics Controller
      summary: Get Stats over time for given migration ID
      operationId: fetchMigrationStats
      parameters:
      - name: migrationId
        in: path
        description: Unique identifier of the migration object
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Migration stats retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationRecord'
                x-content-type: application/json
        "404":
          description: No migration found for the given migration ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /stats/throughputSummary:
    get:
      tags:
      - Statistics Controller
      summary: Get throughput summary
      operationId: fetchThroughputSummary
      responses:
        "200":
          description: Throughput summary retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputSummary'
      x-accepts: application/json
  /stats/throughputInLastSecs/{nSecs}:
    get:
      tags:
      - Statistics Controller
      summary: Get throughput stats for all migrations during last N seconds
      operationId: fetchThroughputInLastSecs
      parameters:
      - name: nSecs
        in: path
        description: Number of seconds to check
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Throughput stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputBucket'
      x-accepts: application/json
  /stats/migrationSummary:
    get:
      tags:
      - Statistics Controller
      summary: Get migrations summary
      operationId: fetchMigrationSummary
      responses:
        "200":
          description: Migration summary retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationsSummary'
      x-accepts: application/json
  /stats/migrationInfo/{migrationId}:
    get:
      tags:
      - Statistics Controller
      summary: Get stats information for the given migration ID
      operationId: fetchMigrationInfo
      parameters:
      - name: migrationId
        in: path
        description: Unique identifier of the migration object
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Migration information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationInfo'
        "404":
          description: No migration found for the given migration ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /stats/filetrackers/fileTransferRates:
    get:
      tags:
      - Statistics Controller
      summary: Get File Transfer Rates Distribution.
      operationId: fetchFileTransferRatesDistribution
      parameters:
      - name: range
        in: query
        description: Percentile range
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: migrationId
        in: query
        description: Migration Id
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: File Transfer Rates Distribution retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTrackerPercentiles'
      x-accepts: application/json
  /stats/filetrackers/fileSizes:
    get:
      tags:
      - Statistics Controller
      summary: Get Transferred File Size Distribution.
      operationId: fetchFileSizeDistribution
      parameters:
      - name: range
        in: query
        description: Percentile range
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: migrationId
        in: query
        description: Migration Id
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: File Size Distribution retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTrackerPercentiles'
      x-accepts: application/json
  /stats/filetrackers/complete:
    get:
      tags:
      - Statistics Controller
      summary: Get File Trackers for Completed Transfers.
      operationId: fetchDiagnosticsComplete
      responses:
        "200":
          description: File Trackers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTracker'
                x-content-type: application/json
      x-accepts: application/json
  /stats/filetrackers/active/{progressId}/buckets:
    get:
      tags:
      - Statistics Controller
      summary: Get File Tracker Bytes per Second Buckets
      operationId: fetchDiagnosticsActiveIdBuckets
      parameters:
      - name: progressId
        in: path
        description: Identifier for File Tracker
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: File Progress Tracker buckets retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTrackerBucket'
                x-content-type: application/json
      x-accepts: application/json
  /stats/filetrackers/active/{progressId}:
    get:
      tags:
      - Statistics Controller
      summary: Get File Tracker for an active transfer
      operationId: fetchDiagnosticsActiveId
      parameters:
      - name: progressId
        in: path
        description: Identifier for File Tracker
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: File Tracker retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTracker'
      x-accepts: application/json
  /stats/filetrackers/active/fileTransferRates:
    get:
      tags:
      - Statistics Controller
      summary: Get Active File Transfer Rates Distribution.
      operationId: fetchFileTransferRatesDistributionActive
      parameters:
      - name: range
        in: query
        description: Percentile range
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: migrationId
        in: query
        description: Migration Id
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: File Transfer Rates Distribution retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTrackerPercentiles'
      x-accepts: application/json
  /stats/filetrackers/active/fileSizes:
    get:
      tags:
      - Statistics Controller
      summary: Get Active Transfer File Size Distribution.
      operationId: fetchFileSizeDistributionActive
      parameters:
      - name: range
        in: query
        description: Percentile range
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: migrationId
        in: query
        description: Migration Id
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: File Size Distribution retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTrackerPercentiles'
      x-accepts: application/json
  /stats/filetrackers/active:
    get:
      tags:
      - Statistics Controller
      summary: Get File Trackers for active transfers
      operationId: fetchDiagnosticsActive
      responses:
        "200":
          description: File Progress Trackers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTracker'
                x-content-type: application/json
      x-accepts: application/json
  /stats/filetrackers:
    get:
      tags:
      - Statistics Controller
      summary: Get File Trackers
      operationId: fetchDiagnostics
      responses:
        "200":
          description: File Trackers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTracker'
                x-content-type: application/json
      x-accepts: application/json
  /stats/excludedEvents:
    get:
      tags:
      - Statistics Controller
      summary: Get most recent 1000 excluded events.
      operationId: lastExcludedEvents
      responses:
        "200":
          description: Events retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnrichedMigratorEvent'
                x-content-type: application/json
      x-accepts: application/json
  /stats/current/{migrationId}:
    get:
      tags:
      - Statistics Controller
      summary: Get current Stats for given migration ID
      operationId: fetchCurrentMigrationStats
      parameters:
      - name: migrationId
        in: path
        description: Unique identifier of the migration object
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Migration stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationRecord'
        "404":
          description: No migration found for the given migration ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /stats/current:
    get:
      tags:
      - Statistics Controller
      summary: Get current Stats for all migrations
      operationId: fetchAllCurrentMigrationStats
      responses:
        "200":
          description: Migration stats retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationRecord'
                x-content-type: application/json
  /stats/cumulative:
    get:
      tags:
      - Statistics Controller
      summary: Get cumulative total stats for all migrations
      operationId: fetchTotalStats
      responses:
        "200":
          description: Migration stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationStats'
      x-accepts: application/json
  /stats/dta/:
    get:
      tags:
      - Data Agent Statistics Controller
      summary: Get full stats over all time for all Data Agents
      operationId: getDtaStatsList
      responses:
        "200":
          description: Overall agents stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverallDataAgentStatsHistory'
      x-accepts: application/json
  /stats/dta/{agentName}:
    get:
      tags:
      - Data Agent Statistics Controller
      summary: Get full stats over for given Data Agent
      operationId: getDtaStats
      parameters:
      - name: agentName
        in: path
        description: User-defined name of the Data Agent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Agent stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAgentStatsHistory'
        "404":
          description: "Either no Data Agent found for the given agent name, or no\
            \ statistics present for the given Data Agent"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /stats/dta/{agentName}/summary:
    get:
      tags:
      - Data Agent Statistics Controller
      summary: Get summary stats for given Data Agent
      operationId: getDtaStatsSummary
      parameters:
      - name: agentName
        in: path
        description: User-defined name of the Data Agent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Agent stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAgentStatsSummary'
        "404":
          description: No Data Agent found for the given agent name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /transformations/mappings:
    get:
      tags:
      - Path Mapping Controller
      summary: Get all Mappings
      operationId: fetchAll
      parameters:
      - name: sourceFileSystemName
        in: query
        description: Name of the source file system.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: targetFileSystemName
        in: query
        description: Name of the target file system.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Mappings retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PathMapping'
                x-content-type: application/json
      x-accepts: application/json
    put:
      tags:
      - Path Mapping Controller
      summary: Create a Mapping
      operationId: createMapping
      parameters:
      - name: pathMappingId
        in: query
        description: Mapping id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: description
        in: query
        description: Mapping description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sourceFileSystem
        in: query
        description: Name of source file system
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: sourcePath
        in: query
        description: Path of source file system
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: targetFileSystem
        in: query
        description: Name of target file system
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: targetPath
        in: query
        description: Path of target file system
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Mapping created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathMapping'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Path Mapping overlap conflict with existing Mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Can't retrieve filesystem from storage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
  /transformations/mappings/{id}:
    get:
      tags:
      - Path Mapping Controller
      summary: Fetch a Mapping
      operationId: fetchMapping
      parameters:
      - name: id
        in: path
        description: Identifier for mapping
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Mapping retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathMapping'
        "404":
          description: No Mapping found for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-accepts: application/json
    delete:
      tags:
      - Path Mapping Controller
      summary: Delete a Mapping
      operationId: delete
      parameters:
      - name: id
        in: path
        description: Identifier for mapping
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Mapping deleted successfully
        "404":
          description: No Mapping found for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathMappingNotFoundException'
      x-accepts: application/json
  /fs/sources/adls2/oauth2/{fileSystemId}:
    post:
      tags:
      - ADLS2 Source File System Controller
      summary: Add a new source ADLS2 file system with service principal and OAuth
        2.0 authentication
      operationId: addAdls2SourceFileSystemServicePrincipal
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Source file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2ServicePrincipalFilesystemProperties'
        required: true
      responses:
        "201":
          description: Source filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
    patch:
      tags:
      - ADLS2 Source File System Controller
      summary: Update a source ADLS2 file system with service principal and OAuth
        2.0 authentication
      operationId: updateAdls2SourceFileSystemServicePrincipal
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Source file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2ServicePrincipalFilesystemProperties'
        required: true
      responses:
        "200":
          description: Source filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: fileSystemId not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible configuration
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
  /fs/sources/adls2/shared-key/{fileSystemId}:
    post:
      tags:
      - ADLS2 Source File System Controller
      summary: Add a Adls2 file system With shared key authentication
      operationId: addSourceAdls2FileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2SharedKeyFilesystemProperties'
        required: true
      responses:
        "201":
          description: filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: fileSystemId not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
    patch:
      tags:
      - ADLS2 Source File System Controller
      summary: Update a Adls2 file system With shared key authentication
      operationId: updateSourceAdls2FileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2SharedKeyFilesystemProperties'
        required: true
      responses:
        "200":
          description: filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: fileSystemId not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
  /fs/targets/adls2/oauth2/{fileSystemId}:
    post:
      tags:
      - ADLS2 Target File System Controller
      summary: Add a new target ADLS2 file system with service principal and OAuth
        2.0 authentication
      operationId: addAdls2FileSystemServicePrincipal
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Target file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2ServicePrincipalFilesystemProperties'
        required: true
      responses:
        "201":
          description: Target filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - ADLS2 Target File System Controller
      summary: Update a target ADLS2 file system with service principal and OAuth
        2.0 authentication
      operationId: updateAdls2FileSystemServicePrincipal
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Target file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2ServicePrincipalFilesystemProperties'
        required: true
      responses:
        "200":
          description: Target filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: fileSystemId not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible configuration
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
  /fs/targets/adls2/shared-key/{fileSystemId}:
    post:
      tags:
      - ADLS2 Target File System Controller
      summary: Add a new target ADLS2 file system with Shared Key authentication
      operationId: addAdls2FileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Target file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2SharedKeyFilesystemProperties'
        required: true
      responses:
        "201":
          description: Target filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - ADLS2 Target File System Controller
      summary: Update a target ADLS2 file system with Shared Key authentication
      operationId: updateAdls2FileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the target file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Target file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adls2SharedKeyFilesystemProperties'
        required: true
      responses:
        "200":
          description: Target filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: fileSystemId not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible configuration
            for this method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to update file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
  /fs/sources/hdfs/{fileSystemId}:
    post:
      tags:
      - HDFS Source File System Controller
      summary: Add a new Hadoop source file system
      operationId: addSourceHdfsFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      - name: scanOnly
        in: query
        description: Scan-only will not pick up any changes to the underlying filesystem
          during migrations
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: Source file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HdfsFilesystemProperties'
        required: true
      responses:
        "201":
          description: filesystem added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "401":
          description: Filesystem credentials provided are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "422":
          description: Unsupported or invalid file system configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "500":
          description: Failed to add file system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
      x-contentType: application/json
      x-accepts: application/json
    patch:
      tags:
      - HDFS Source File System Controller
      summary: Update a Hadoop source file system
      operationId: updateSourceHdfsFileSystem
      parameters:
      - name: fileSystemId
        in: path
        description: Unique Identifier for the source file system
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertiesFiles
        in: query
        description: Load configuration from files that are accessible from server
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default: []
      requestBody:
        description: Source file system properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HdfsFilesystemProperties'
        required: true
      responses:
        "200":
          description: Filesystem updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemConfiguration'
        "400":
          description: Method Argument Not Valid. One or more of the supplied values
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "401":
          description: Filesystem credentials provided are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "409":
          description: Filesystem already defined against the provided fileSystemId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveMigratorRestException'
        "405":
          description: filesystemId defined against filesystem of incompatible configuration
            for this method.
          content:
            application/json:
              schema:
[...]
