# Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Id** | **string** |  | [optional] [default to null]
**MigrationId** | **string** |  | [optional] [default to null]
**MigrationInternalId** | **string** |  | [optional] [default to null]
**Status** | [***VerificationStatus**](VerificationStatus.md) |  | [optional] [default to null]
**CreatedTimestamp** | **int64** |  | [optional] [default to null]
**StartedTimestamp** | **int64** |  | [optional] [default to null]
**FinishedTimestamp** | **int64** |  | [optional] [default to null]
**CreatedAt** | [**time.Time**](time.Time.md) |  | [optional] [default to null]
**StartedAt** | [**time.Time**](time.Time.md) |  | [optional] [default to null]
**FinishedAt** | [**time.Time**](time.Time.md) |  | [optional] [default to null]
**Paths** | **[]string** |  | [optional] [default to null]
**IgnoreAfterTimestamp** | **int64** |  | [optional] [default to null]
**OriginalPaths** | **[]string** |  | [optional] [default to null]
**VerificationDepth** | **int32** |  | [optional] [default to null]
**FilesOnSource** | **int64** |  | [optional] [default to null]
**DirectoriesOnSource** | **int64** |  | [optional] [default to null]
**BytesOnSource** | **int64** |  | [optional] [default to null]
**FilesExcluded** | **int64** |  | [optional] [default to null]
**FilesExcludedExistsOnTarget** | **int64** |  | [optional] [default to null]
**FilesExcludedNotExistsOnTarget** | **int64** |  | [optional] [default to null]
**DataExcluded** | **int64** |  | [optional] [default to null]
**BytesExcluded** | **int64** |  | [optional] [default to null]
**BytesExcludedExistsOnTarget** | **int64** |  | [optional] [default to null]
**BytesExcludedNotExistsOnTarget** | **int64** |  | [optional] [default to null]
**DirectoriesExcluded** | **int64** |  | [optional] [default to null]
**DirectoriesExcludedExistsOnTarget** | **int64** |  | [optional] [default to null]
**DirectoriesExcludedNotExistsOnTarget** | **int64** |  | [optional] [default to null]
**FilesOnTarget** | **int64** |  | [optional] [default to null]
**DirectoriesOnTarget** | **int64** |  | [optional] [default to null]
**BytesOnTarget** | **int64** |  | [optional] [default to null]
**FilesMissingOnTarget** | **int64** |  | [optional] [default to null]
**DirectoriesMissingOnTarget** | **int64** |  | [optional] [default to null]
**FilesMissingOnSource** | **int64** |  | [optional] [default to null]
**DirectoriesMissingOnSource** | **int64** |  | [optional] [default to null]
**FileSizeMismatches** | **int64** |  | [optional] [default to null]
**TotalDiscrepancies** | **int64** |  | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

